#root {
  position: relative;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt1 {
  margin-top: 1rem;
}

.lh3 {
  line-height: 3rem;
}

.ml-auto {
  margin-left: auto;
}

.pointer {
  cursor: pointer;
}

.menu-item:hover {
  background-color: #3949ab;
}

nav i.material-icons {
  font-size: 2.5rem;
}

.card-item {
  border: 1px solid #eeeeee;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  align-items: center;
}

.card-item i {
  cursor: pointer;
  margin-left: 0.5rem;
}

span.circle {
  height: 42px;
  width: 42px;
  margin-right: 2rem;
}

.text p {
  margin-top: 0;
  margin-bottom: 0;
}

.pagination li {
  border-radius: 50%;
}

.pagination li button {
  line-height: 2rem;
  border: none;
  background: white;
  border-radius: 50%;
  cursor: pointer;
  padding: 0 10px;
}

.pagination li.active {
  background: white;
}

.pagination li.active button {
  background: #3f51b5;
  color: white;
  cursor: default;
}

.pagination li.disabled button {
  color: #999;
  cursor: default;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.modal__add {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 2rem;
  border-radius: 5px;
  bottom: none;
  min-width: 30%;
}
.input-field p {
  color: red;
}
